<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <%= render 'home/header' %>

<h4>Documents</h4>
<p>Available documents will be posted here</p>
<div>
	<br>
<% if current_user.admin %>


 <a href="https://purecodedigital.com/services-page/services-0010.html" >

							   
							   <h4>Contract Template</h4>
                      </a>


<% end %>

<% if current_user.admin %>
	


<% end %>


