<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <%= render 'home/header' %>

<div class="container-fluid">
<p>We are a 501(c)(3) non-profit organization</p><p> Every donation is fully tax deductable and greatly appreciated.</p><br>
                 <h3>Ways to donate</h3>
									<p>1. Use the paypal link below</p>
									
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="ERZ4ZCTR88GX2" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
									<br>

                                    <h5>2. Venmo: SSLA-</h5>
									
									<h5>3. Cash App: SSLAgency </h5>
									
									<h5>4. Donate in person </h5>
</div>